name: CI - Java Maven

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest   # GitHub runner (Linux)

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build & Test with Maven
        run: mvn clean test package
        working-directory: hello-devops
